/* Variables */

:root{
   ---c-primaryRed: hsl(4, 100%, 67%);
   --c-neutralBlue800: hsl(234, 29%, 20%);
   --c-neutralBlue700: hsl(235, 18%, 26%);
   --c-neutralGrey: hsl(0, 0%,58%);
   --c-White: hsl(0, 0%, 100%);
}

/* Globle Variables */

*,
*::after,
*::before{
   box-sizing: border-box;
}

body{
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 1.5;
   color: var(--c-neutralBlue800);
   font-weight: 500;
}

.container{
   width: 90%;
   margin: 0 auto;
}

h2{
   font-size: 2rem;
}

/* Hero Section */

.hero-img{
   width: 100%;
}

img{
   max-width: 100%;
}

/* list */

.list{
   list-style: none;
   line-height: 2;
   padding: 0;
}

.list-item{
   display: flex;
   gap: 1em;
}

/* button */

.label-email{
   font-weight: 600;
}

.btn,
.input-email{
   width: 100%;
   height: 4em;
   margin: .2em 0;
   border-radius: .7em;
}

.input-email{
   padding-left: 2em;
   border: 2px solid var(--c-neutralGrey);
}

.input-email:hover{
   border:  2px solid var(--c-neutralBlue700);
}

.btn{
   background-color: var(--c-neutralBlue800);
   color: var(--c-White);
   font-weight: 600;
   margin: 1em 0 2em;
   border-style: none;
}

.btn:hover{
   background-color: var(---c-primaryRed);
}

/* label and error message */

.lable-visibility{
   display: flex;
   justify-content: space-between;
}

.hidden{
   visibility: hidden;
}

.hidden-visible{
   visibility: visible;
   font-weight: 600;
   color: var(---c-primaryRed);
}

.input-email-error{
   padding-left: 2em;
   border: 2px solid var(---c-primaryRed);
   border-color: var(---c-primaryRed);
   background-color: rgba(237, 159, 159, 0.819);
}

/* success message */

.success-message{
   display: none;
   height: 0;
   position: absolute;
}

.success-message-visible{
   display: block;
   margin: 3em auto;
   height: auto;
   position: relative;
}

.message-card{
   margin: 8em 0;
}

#subscribeEmail{
   font-weight: 600;
}

/* atribution */

.attribution{
   font-size: .8rem;
   text-align: center;
   margin-top: 5em;
}

.attribution a{
   text-decoration: none;
   color: hsl(228, 45%, 44%);
}

/* media query */

@media (min-width: 600px){
   body{
      background-color: var(--c-neutralBlue700);
   }
   .container{
      width: 80%;
   }
   .signup-page{
      max-width: 550px;
      margin: 5em auto;
      background-color: var(--c-White);
      border-radius: 1.2em;
   }
   .hero-img{
      content: url(../assets/images/illustration-sign-up-tablet.svg);
   }
   .success-message{
      max-width: 400px;
      background-color: var(--c-White);
      border-radius: 1.4em;
   }
   .message-card{
      padding-top: 2em;
      margin: 0;
   }
   .attribution{
      color: var(--c-White);
   }
}

@media (min-width: 1000px){
   .hero-img{
      content: url(../assets/images/illustration-sign-up-desktop.svg);
   }
   .signup-page{
      max-width: 800px;
      display: flex;
   }
   .hero{
      width: 45%;
      padding: 1.5em;
   }
   .content{
      width: 45%;
      align-self: center;
   }
}